<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/myStyle.css}" />
<script th:src="@{js/boostrap.min.js}" type="text/javascript" ></script>
<script th:src="@{js/boostrap.js}" type="text/javascript" ></script>
</head>
<body>
	<header th:replace="admin/menu:: menuprincipal">asd2</header>

</body>

</html>